@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

.header {
  margin: 30px 30px;
}
.hey {
  font-weight: bold;
  color: rgb(78, 78, 78);
  font-size: 20px;
}

.todos-container {
  margin: 0px 20px;
}

.everything {
  margin: auto;
}

@media screen and (min-width: 991px) {
  .everything {
    max-width: 40%;
  }
}
